@model DictionaryDto.ChallengeDto

<div class="body-header">
    <p class="text-title">
        <span id="questionId" style="display:none">@Model.Question.WordId</span>
        <span>@Model.Question.WordText</span>
        <span>[@Model.Question.TypeWordText]</span>
        <span style="margin-left:15px">/@Model.Question.Pronounce/</span>
        <span><a class="btn btn-default" onclick="playSound('@Model.Question.WordId')">Play</a></span>
    </p>
    <audio controls id="@Model.Question.WordId" hidden>
        <source src="@Model.Question.Sound" type="audio/mpeg" />
    </audio>
</div>
<div class="body-content">
    <form id="newQuestion" action="/Challenge/CreateQuestion" method="post">
        <a onclick="document.getElementById('newQuestion').submit();" class="btn btn-success">New Question</a>
    </form>
    <hr />
    @for (int index = 0; index < Model.AnswersList.Count(); index++)
    {
    <div class="answer-row" 
         id="@Model.AnswersList.ElementAt(index).MeaningId" 
         data-iscorrected="@Model.AnswersList.ElementAt(index).IsCorrected">
        <div class="answer-text">
            <a href="/Word/Index?wordId=@Model.AnswersList.ElementAt(index).WordId"
               target="_blank"
               class="btn btn-info"
               name="answer-detail"
               style="display:none">
                Detail
            </a>
            @Html.Raw(Model.AnswersList.ElementAt(index).MeaningText)
        </div>
    </div>
    }
</div>

<script>
    $(document).ready(function () {
        $(".answer-row").click(function () {
            var rowAnswerId = this.id;
            //verify
            if ($(this).data("iscorrected") == 'True') {
                $("#" + rowAnswerId).addClass("answer-right");
            } else {
                $("#" + rowAnswerId).addClass("answer-wrong");
            }
            //show detail
            $("#" + rowAnswerId).removeClass("answer-row");
            $("#" + rowAnswerId + " a[name='answer-detail']").show();
        })
    })

</script>

