@model DictionaryDto.WordDto

<div class="body-header">
    <p class="text-title">
        <span>@Model.WordText</span>
        <span>[@Model.TypeWordText]</span>
        <span style="margin-left:15px">/@Model.Pronounce/</span>
        <span><a class="btn btn-default" onclick="playSound('@Model.WordId')">Play</a></span>
    </p>
    <audio controls id="@Model.WordId" hidden>
        <source src="@Model.Sound" type="audio/mpeg" />
    </audio>
</div>
<div class="body-content">
    <button class="btn btn-success"
            name="btnMeaningModal"
            data-toggle="modal"
            data-target="#meaningModal"
            data-meaningmodel="@Json.Encode(new DictionaryDto.MeaningDto() { WordId = Model.WordId })"
            data-backdrop="static"
            data-keyboard="false">
        Add Meaning
    </button>
    <hr/>
    @{ Html.RenderPartial("~/Areas/Admin/Views/Meaning/MeaningList.cshtml", Model.MeaningList); }
    @{ Html.RenderPartial("~/Areas/Admin/Views/Meaning/_MeaningModal.cshtml"); }
</div>

<script>
    $(document).on("click", "button[name='btnMeaningModal']", function () {
        var model = $(this).data('meaningmodel');
        $("#meaningModal input[name='WordId']").val(model.WordId);
        $("#meaningModal input[name='MeaningId']").val(model.MeaningId);
        setValueCKEditor("MeaningText", model.MeaningText);
    });
</script>

