@model DictionaryDto.WordDto
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>
    <span>@Model.WordText</span>
    <span>[@Model.TypeWordText]</span>
    <span>@Model.Pronounce</span>
</h3>
<button class="btn btn-default" onclick="playSound('@Model.WordId')">Play</button>
<audio controls id="@Model.WordId" hidden>
    <source src="@Model.Sound" type="audio/mpeg" />
</audio>
<hr/>
@{ Html.RenderPartial("~/Views/Meaning/MeaningList.cshtml", Model.MeaningList); }
