@model DictionaryDto.WordDto

<button class="btn btn-success"
        name="btnMeaningModal"
        data-toggle="modal"
        data-target="#meaningModal"
        data-meaningmodel="@Json.Encode(new DictionaryDto.MeaningDto() { WordId = Model.WordId })"
        data-backdrop="static"
        data-keyboard="false">
    Add Meaning
</button>
<h3>
    <span>@Model.WordText</span>
    <span>[@Model.TypeWordText]</span>
    <span>@Model.Pronounce</span>
</h3>
<button class="btn btn-default" onclick="playSound('@Model.WordId')">Play</button>
<audio controls id="@Model.WordId" hidden>
    <source src="@Model.Sound" type="audio/mpeg" />
</audio>
<hr />4>
@{ Html.RenderPartial("~/Areas/Admin/Views/Meaning/MeaningList.cshtml", Model.MeaningList); }
@{ Html.RenderPartial("~/Areas/Admin/Views/Meaning/_MeaningModal.cshtml"); }

<script>
    $(document).on("click", "button[name='btnMeaningModal']", function () {
        var model = $(this).data('meaningmodel');
        $("#meaningModal input[name='WordId']").val(model.WordId);
        $("#meaningModal input[name='MeaningId']").val(model.MeaningId);
        $("#meaningModal textarea[name='MeaningText']").val(model.MeaningText);
    });
</script>

