@model DictionaryDto.ChallengeDto
<div>
    <form id="newQuestion" action="/Challenge/CreateQuestion" method="post">
        <a onclick="document.getElementById('newQuestion').submit();" class="btn btn-success">New Question</a>
        <a href="/Word/Index?wordId=@Model.RightAnswerId" target="_blank" class="btn btn-info">Answer</a>
    </form>
    <div>
        <div class="question-content">
            <h3>
                <span>@Model.QuestionText</span>
                <span>[@Model.TypeWordText]</span>
            </h3>
            <span style="margin-right:15px; font-size:18px">/@Model.Pronounce/</span>
            @if (Model.Sound != null && Model.Sound.Length > 0)
            {
                <button class="btn btn-default" onclick="playSound('@Model.RightAnswerId')">Play</button>
                <audio controls id="@Model.RightAnswerId" hidden>
                    <source src="@Model.Sound" type="audio/mpeg" />
                </audio>
            }
        </div>
        <hr />
        <div class="answer-content">
            @for (int index = 0; index < 4; index++)
            {
                <div class="answer-row" 
                     onclick="checkAnswer(this, '@Model.AnswersList.ElementAt(index).AnswerId')">
                    <p class="answer-text">
                        @Html.Raw(Model.AnswersList.ElementAt(index).AnswerText)
                    </p>
                </div>
                @*<button onclick="checkAnswer(this, '@Model.AnswersList.ElementAt(index).AnswerId')"
                        class="btn btn-lg btn-block btn-default">
                    <span>
                        @Html.Raw(Model.AnswersList.ElementAt(index).AnswerText)
                    </span>
                </button>*@
            }
        </div>
    </div>
</div>

<script>
    var rightAnswerId = '@Model.RightAnswerId';
    function checkAnswer(e, answerId) {
        if (e.className.indexOf("answer-row") != -1) {
            if (rightAnswerId == answerId) {
                e.className = "answer-right";
            } else {
                e.className = "answer-wrong";
            }
        }
    }
</script>

