<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LQC Dictionary</title>
    <link id="link-theme-css" rel="stylesheet" href="~/Content/dark-theme.css" type="text/css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        CKEDITOR_BASEPATH = "@Url.Content("~/Scripts/ckeditor/")";
    </script>
    @*<script src="~/Scripts/ckeditor/ckeditor.js"></script>*@
    @Scripts.Render("~/bundles/ckeditor")
    @Scripts.Render("~/bundles/custom")
</head>
<body>
    <div class="container">
        @RenderBody()
        <div class="body-footer">
            <hr style="margin-bottom: 0px;" />
            <footer>
                <p class="text-footer">&copy; LQC DICTIONARY - LQC GROUP</p>
            </footer>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
